* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*navbar*/
html {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  max-width: 20rem;
}

.navbar ul li {
  text-decoration: none;
  font-style: none;
  font-family: "Hind Vadodara";
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 2.937rem;
  color: #331b3b;
  list-style: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 5rem;
}

.navbar a {
  text-decoration: none;
}

.navbar h2 {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  line-height: 28px;
  letter-spacing: 0.01em;
  width: 50%;
  text-align: center;
  max-width: 30rem;
  padding-top: 0;
}

.header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29.5%;
  padding: 0 3rem;
  max-width: 20rem;
}

.header-logos a {
  border: 2px solid rgba(51, 27, 59, 0.64);
  /* transform: rotate(30.5deg); */
  border-radius: 50%;
  padding: 0.8rem;
  /* width: 40%; */
  /* height: 40%; */
  position: relative;

  display: inline-block;
}

.header-logos img {
  transform: rotate(-30.5deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

/*-Last-Section-------*/

.last-section {
  background-color: #000000;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  color: #ffffff;

  border-radius: 0px 158px 0px 0px;
  padding: 2rem 0;
}
.get-in-touch {
  width: 50%;
  max-width: 400px;

  padding: 1rem;
}

.get-in-touch h3 {
  font-family: "Playfair Display";
  font-size: 2rem;
  line-height: 159.3%;
  letter-spacing: 0.01em;

  text-align: left;
}

.get-in-touch p {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 159.3%;
  text-align: left;
  width: 90%;
  max-width: 400px;
  /* or 25px */

  letter-spacing: 0.02em;
}

.get-in-touch span {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 159.3%;
  /* or 25px */

  letter-spacing: 0.02em;
}

.email-info {
  display: flex;
  padding: 0;
  margin-top: 1rem;

  height: auto;
  max-width: 100%;
}
.email-info input {
  border: 0;
  background-color: #000000;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  line-height: 159.3%;
  letter-spacing: 0.02em;
  border: 1px solid #ffffff;
  border-right: 0;

  padding: 0.7rem;
}
.email-info button {
  padding: 0.7rem;
  background-color: #ffffff;
  width: 35%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 159.3%;
  border: 0;
  /* or 25px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

/* map-image*/
.map-image {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.map-photo {
  width: 90%;
  height: 45%;
  position: relative;
  max-width: 40rem;
}

/* .map-rec {
  width: 35%;
  height: 20%;
  position: relative;
} */

.map-info {
  position: absolute;
  font-size: 0.6rem;
  background-color: white;
  color: #000000;
  padding: 0.5rem;
  margin: 0.2rem 2rem 2rem 0.4rem;
}

/*fifth-section*/

.fifth-section {
  padding: 1rem;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 110.8%;
  margin: 0.5rem;
}

.testimonials p {
  /* text-align: center; */
  width: 60%;
  margin: 1rem auto;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 110.8%;
  /* or 53px */
  text-align: center;
  letter-spacing: -0.01em;

  color: #331b3b;
}

.testimonials span {
  font-size: 700;
}

.info-Card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 159.3%;
  /* or 25px */

  letter-spacing: 0.02em;

  color: #331b3b;
}

.card {
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 159.3%;
  /* or 25px */

  letter-spacing: 0.02em;

  color: #331b3b;
}

.card img {
  width: 20%;
}

/*third-section*/

.third-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-item: flex-start;
  padding: 6rem 1rem;
}

.third-section-image {
  width: 50%;
  position: relative;
  padding: 0.1rem;
  margin: 1rem auto;
}

.circle {
  border: 1px dashed #000000;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  position: relative;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow-color {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mask-group {
  height: 98%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
}

.about-us {
  width: 50%;
  padding: 1rem;
}

.about-us p {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 146.3%;

  letter-spacing: 0.02em;

  color: rgba(51, 27, 59, 0.66);
}

.explore-button {
  margin: 1rem auto;
  background: #331b3b;
  border-radius: 0.6rem;
  border: none;
  width: 70%;
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 137.3%;
  padding: 0.8rem;
}

.about-us h1 {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 106.3%;

  color: #331b3b;
}

.about-us h2 {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 106.3%;
  color: #331b3b;
}

/*first-section*/

.starting {
  display: flex;
  padding: 2em;
  align-items: center;
  flex-wrap: wrap;
}

/* #city {
  width: 107%;
  padding: 5px;
  font-size: 3rem;
  border-radius: 3px;
} */
.first-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.get-started {
  width: 50%;
  padding: 1rem;
  /* max-width: 400px; */
  font-family: "Hind Vadodara";
  font-style: normal;
}

.get-started p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 146.3%;
  /* or 25px */

  letter-spacing: 0.02em;
}

.get-started h2 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 99.8%;
}

.get-started span {
  font-weight: 700;
}

.get-started button {
  margin: 1rem auto;
  background: #331b3b;
  border-radius: 0.6rem;
  border: none;
  width: 107%;
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 137.3%;
  padding: 0.8rem;
}

.button-rentals {
  text-decoration: none;
  color: white;
}

.what-we-do {
  width: 80%;
  margin: 1rem auto;
}
.what-we-do p {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 146.3%;
  text-align: center;
}

.what-we-do span {
  font-weight: 700;
}

.second-section {
  position: relative;
  overflow-x: hidden;
  padding: 3rem 0rem;
}

.overlay {
  height: 92%;
  width: 93%;
  background-color: rgb(195 149 129);
  position: absolute;
  z-index: -1;
  border-top-right-radius: 40rem;
}

.fourth-section {
  position: relative;
  padding: 3rem 0rem;
}

.overlay-right {
  height: calc(100% - 6rem);
  width: 93%;
  background-color: rgb(243 171 72 / 68%);
  position: absolute;
  z-index: -1;
  border-top-left-radius: 40rem;
  right: 0;
}

.fourth-section-wrapper {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1140px;
}

.fourth-section-header {
  display: flex;
  flex-direction: column;
}

.fourth-section-header h2 {
  font-weight: 800;
  font-size: 3.5rem;
}

.fourth-section-header h4 {
  font-weight: 600;
  font-size: 3rem;
}

.fourth-section-paragraph {
  max-width: 400px;
  line-height: 1.5;
  font-size: 1.5rem;
}

.caption {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.btn {
  border: 1px solid #000;
  border-radius: 22px;
  padding: 0.5rem 1rem;
}

.card-carousel,
.company-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  left: 35%;
  width: max-content;
}

.second-sec-card {
  background: #fff;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 225px;
  margin-right: 2.5rem;
}

.second-sec-card h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.second-sec-card p {
  line-height: 1.5;
}

.ui-images {
  display: flex;
}

.image-icon {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 75%;
}

.color-1 {
  background: #ffded4;
}

.color-2 {
  background: #ffeed4;
}

.color-3 {
  background: #d4f0ff;
}

.color-4 {
  background: #ffd4d4;
}

.img1 {
  width: 96%;
  /* display: block; */
  margin: 0 auto;
  /* position: absolute; */
  border-radius: 45%;
  left: -53px;
  z-index: 2;
  top: 27px;
  padding: 0 auto;
}

.img2 {
  width: 89%;
  position: absolute;
  top: -58px;
  left: -5px;
  z-index: 1;
}

.first-section-image {
  width: 41%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fourth-section {
  overflow-x: hidden;
}

.company-card {
  margin-right: 2rem;
  background: #fff;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.company-card img {
  height: 30vh;
}

@media (max-width: 768px) {
  .third-section {
    flex-direction: column;
  }
  .third-section-image,
  .about-us {
    width: 100%;
  }
  .circle {
    transform: translate(-50%, 0%);
  }

  .fourth-section-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .first-section {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 6rem;
  }
  .first-section-image {
    width: 83%;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .img1 {
    width: 96%;
    /* display: block; */
    margin: 0 auto;
    /* position: absolute; */
    border-radius: 45%;
    left: -53px;
    z-index: 2;
    top: 27px;
    padding: 0 auto;
  }
  .get-started {
    width: 85%;
    padding: 1rem;
    /* max-width: 400px; */
    font-family: "Hind Vadodara";
    font-style: normal;
  }
  .mask-group {
    height: 82%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
  }
  .mask-group {
    height: 74%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
  }
  .circle {
    border: 0px;
  }
}

@media (max-width: 1920px) and (min-width: 768px) {
  html {
    font-size: 58.5%;
  }
  .navbar ul li {
    max-width: 10rem;
    font-size: 1.3rem;
  }
  .navbar h2 {
    font-size: 2.4rem;
  }

  .navbar ul {
    max-width: 30rem;
    padding: 0 1rem;
  }

  .email-info button {
    width: 15%;
  }

  .map-photo {
    width: 80%;
    height: 81%;
  }

  .map-image {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: flex-start;
    width: 39%;
  }

  .header-logos a {
    border: 2px solid rgba(51, 27, 59, 0.64);
    /* transform: rotate(30.5deg); */
    border-radius: 50%;
    padding: 1.4rem;
    width: 20%;
    /* height: 40%; */
    position: relative;

    display: inline-block;
  }

  /* .logo-img {
    transform: rotate(-30.5deg);
  } */

  .header-logos img {
    /* transform: rotate(-30.5deg); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
  }
  .card {
    width: 35%;
    padding: 3rem 5rem;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 159.3%;
    /* or 25px */

    letter-spacing: 0.02em;

    color: #331b3b;
  }

  .info-card {
    font-size: 1.6rem;
  }

  .testimonials p {
    width: 50%;
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .testimonials span {
    font-weight: 700;
  }

  .fifth-section {
    padding: 3rem 3rem;
  }

  .explore-button {
    margin: 1rem auto;
    background: #331b3b;
    border-radius: 0.6rem;
    border: none;
    width: 30%;
    color: #ffffff;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 137.3%;
    /* or 23px */

    letter-spacing: 0.02em;
    padding: 1.5rem;
  }

  .about-us h2 {
    font-size: 2.8rem;
  }

  .about-us h1 {
    font-size: 3.2rem;
  }

  .about-us p {
    font-size: 1.4rem;
  }

  .get-started {
    padding: 4rem;
  }
  .get-started p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 146.3%;
    /* or 25px */

    letter-spacing: 0.02em;
  }

  .get-started h2 {
    font-weight: 300;
    font-size: 6rem;
    line-height: 99.8%;
  }

  .get-started span {
    font-weight: 700;
  }
  .get-started button {
    margin: 1rem auto;
    background: #331b3b;
    border-radius: 0.6rem;
    border: none;
    width: 30%;
    color: #ffffff;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 137.3%;
    padding: 1.2rem;
  }

  .mask-group {
    height: 90%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
  }

  .what-we-do {
    width: 29%;
    margin: 1rem auto;
  }
  .what-we-do p {
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 146.3%;
    text-align: center;
  }

  .what-we-do span {
    font-weight: 700;
  }

  .img2 {
    width: 72%;
    position: absolute;
    z-index: 1;
    top: -136px;
    left: 63px;
  }
  .img1 {
    position: absolute;
    z-index: 2;
    top: -124px;
    left: -33px;
    border-radius: 47%;
  }

  #city {
    width: 50%;
    padding: 5px;
    font-size: 3rem;
    border-radius: 3px;
  }
}

/* rentals */

.container-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* .Cname {
  border: 2px solid black;
  padding: 2px;
  font-size: 1.2rem;
  line-height: 1rem;
} */

.box-value {
  font-size: 3rem;
  padding: 2rem;
  -webkit-box-shadow: inset 3px 6px 49px -3px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: inset 3px 6px 49px -3px rgba(0, 0, 0, 0.77);
  box-shadow: inset 3px 6px 49px -3px rgba(0, 0, 0, 0.77);
  width: 97vw;
  margin: 1rem;
  border-radius: 4rem;
  overflow: hidden;
}

/*form*/

.containers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.containers img {
  width: 100vw;

  position: absolute;
  z-index: -1;
  /* top: -320px; */
  /* overflow: hidden; */
  opacity: 1.8;
}

.show-data {
  display: none;
  max-width: 500px;
  width: 50%;
  border: 2px solid black;
  margin: 69px auto;
  padding: 74px;
}

.show-data-1 {
  max-width: 500px;
  width: 50%;
  border: 2px solid black;
  margin: 69px auto;
  padding: 74px;
}

.form {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 69px auto;
  padding: 40px;
  border: 2px solid black;
}

.labels {
  font-size: 30px;
  font-family: "Hind Vadodara";
  line-height: 1.7em;
  font-weight: 800;
  color: whitesmoke;
}

.paragraph {
  font-size: 25px;
  font-family: "Hind Vadodara";
  line-height: 1.7em;
  font-weight: 800;
}

.input {
  width: 100%;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 0.8em;
  font-weight: 400;
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px 50px 30px 5px;
  padding: 3px;
  color: rgb(237, 191, 191);
  background: none;
}

.btn-submit {
  border-radius: 15px 50px 30px 5px;
  width: 37%;
  font-size: 28px;
  padding: 4px;
  margin: 5px;
  font-family: fangsong;
  font-weight: 700;
}

@media (max-width: 800px) {
  .form {
    width: 47%;
    max-width: 503px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 26px auto;
    padding: 5px;
    border: 2px solid black;
  }

  .containers img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    /* top: -320px; */
    /* overflow: hidden; */
    opacity: 1.8;
  }

  .show-data {
    max-width: 500px;
    width: 50%;
    border: 2px solid black;
    margin: 27px auto;
    padding: 15px;
  }

  .show-data-1 {
    max-width: 500px;
    width: 50%;
    border: 2px solid black;
    margin: 27px auto;
    padding: 15px;
  }

  .labels {
    font-size: 22px;
    font-family: "Hind Vadodara";
    line-height: 1.5em;
    font-weight: 900;
    color: whitesmoke;
  }
}

@media (max-width: 500px) {
  .containers img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    /* top: -320px; */
    /* overflow: hidden; */
    opacity: 1.8;
  }

  .btn-submit {
    border-radius: 15px 50px 30px 5px;
    width: 26%;
    font-size: 17px;
    padding: 3px;
    margin: 3px;
    font-family: fangsong;
    font-weight: 700;
  }

  .show-data {
    max-width: 500px;
    width: 89%;
    border: 2px solid black;
    margin: 3px auto;
    padding: 5px;
  }

  .show-data-1 {
    max-width: 500px;
    width: 89%;
    border: 2px solid black;
    margin: 3px auto;
    padding: 5px;
  }

  .form {
    width: 89%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    padding: 2px;
    border: 2px solid black;
  }
  .containers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .paragraph {
    font-size: 12px;
    font-family: "Hind Vadodara";
    line-height: 1.7em;
    font-weight: bolder;
  }

  .labels {
    font-size: 17px;
    font-family: "Hind Vadodara";
    line-height: 1.5em;
    font-weight: 900;
    color: whitesmoke;
  }
}
